<h1>Questions</h1>

<% @questions.each do |question| %>
  <h5><%= question.title %></h5>

  <time datatime="<%= question.format_created_time %>">
    <%= question.format_created_time %>
  </time>

  <p>
    <%= question.body %>
  </p>
<%end %>