<!DOCTYPE html>
<html>
  <head>
    <title>RoR001</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_url %></li>
      <li><%= link_to 'Questions', questions_url %></li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
